<a href="/books">home</a> / <a href="/newbook">new book</a>
/ <a href="/newperson">new person</a> / <a href="/borrowbook">borrow book</a>
<br/>
<form action="{{url_for('search')}}" method="get">
    What books or authors are you looking for:
    <br/>
    <input type="text" name="query">
    <br/>
    <input type="submit" value="search">
</form>

{% if bookResults is not defined %}
   Search for books
{% else %}
    {% if bookResults %}
         Results
         {% for item in bookResults %}
             <li>{{item}}</li>
         {% endfor %}

    {% else  %}
        No books found
    {% endif %}
{% endif %}